<main>
  {% for feature in site.features %}
    <hr id='{{ feature.id }}'>

    <section>
      {% if feature.image %}
      <img class='{% cycle 'pull-right', 'pull-left' %}' src='{{ feature.image }}'>
      {% else %}
      <div id="map" class='{% cycle 'pull-right', 'pull-left' %}'></div>
      <script>
        function initMap() {
          var lanternheritage = {lat: {{ feature.lat }}, lng: {{ feature.lng }} };
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: lanternheritage
          });
          var marker = new google.maps.Marker({
            position: lanternheritage,
            map: map
          });
        }
      </script>
      {% endif %}
      <h2>{{ feature.heading }}</h2>
      <h3><span>{{ feature.subheading }}</span></h3>
      <div class='lead'>{{ feature.content }}</div>
    </section>
  {% endfor %}

  <hr>
</main>